    <% if @category.posts.size == 0 %>
      <h4>Nothing here yet!</h4>
    <% end %>

      <% @categories.each do |category| %>
        <li><%= link_to category.name, category %></li>
      <% end %>