    <% if @category.posts.size == 0 %>
      <h4>Sorry, there is nothing here yet!</h4>
    <% end %>

      <% @category.posts.each do |posts| %>
        <%= render 'posts/post', post: post
      <% end %>